body {
    margin-bottom: 70px;
}

.form-horizontal .control-label {
    float: left;
    /*original: width: 140px;*/
    width: 200px;
    padding-top: 5px;
    text-align: right;
}
.form-horizontal .controls {
    /*original: margin-left: 160px;*/
    margin-left: 220px;
}